h1{
	color: #1E6FAF;
	font-size: 16px;
}
h2{

}
a {
	color: #1E6FAF;
}
.bold{
	font-weight: 600;
}
.wholeShebang{
	width: 100%;
	font-family: Verdana;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}
.header{
	width: 1000px;
	display: block;
	padding: 0px;
	margin: 0px;
}
.logo{
	display: inline-block;
	height: 65px;
	width: 400px;
	background-color: white;
	vertical-align: top;
}
#logoImg{
	width: 67px;
	height: 60px;
	margin-right: 5px;
	padding: 0px;
	display: inline;
	vertical-align: -15px;
}
.logo p{
	font-size: 34px;
	letter-spacing: 1px;
	display: inline;
}
#logoWord{
	color: #828285;
}
#logoStream{
	color: #287FAE;
}
.nav{
	display: inline-block;
	vertical-align: top;
	height: 25px;
	width: 320px;
	margin-top: 0px;
	padding: 0px;
	margin-left: 90px;
	margin-bottom: 45px;
	background-color: #F8F7FC;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-color:  #828285;
	font-size: 10px;
	color: #828285;
	text-align: center;
}
.nav ul{
	display: inline;
	margin: 0px;
	padding: 0px;
}
.nav ul li{
	display: inline;
	list-style-type: none;
	text-align: bottom;
}
.login{
	display: inline-block;
	vertical-align: top;
	width: 75px;
	height: 25px;
	background: #d0e4f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #d0e4f7 0%, #277dbb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e4f7), color-stop(100%,#277dbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d0e4f7 0%,#277dbb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d0e4f7 0%,#277dbb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d0e4f7 0%,#277dbb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d0e4f7 0%,#277dbb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#277dbb',GradientType=0 ); /* IE6-9 */
	text-align: center;
	color: white;
	font-size: 12px;
	border-radius: 3px;
}
.banner{
	width: 1000px;
	height: 40px;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 36%, #2989d8 60%, #2989d8 65%, #2989d8 71%, #207cca 100%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(36%,#207cca), color-stop(60%,#2989d8), color-stop(65%,#2989d8), color-stop(71%,#2989d8), color-stop(100%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 36%,#2989d8 60%,#2989d8 65%,#2989d8 71%,#207cca 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#207cca 36%,#2989d8 60%,#2989d8 65%,#2989d8 71%,#207cca 100%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 36%,#2989d8 60%,#2989d8 65%,#2989d8 71%,#207cca 100%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#207cca 36%,#2989d8 60%,#2989d8 65%,#2989d8 71%,#207cca 100%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	color: white;
	font-size: 22px;
	padding-left: 10px;
	padding-top: 15px;
}
.content{
	width: 1000px;
	display: block;
}
.sideBar{
	vertical-align: top;
	display: inline-block;
	height: 700px;
	width: 200px;
	background-color: white;
}
#sideBarTitle{
	color: #6C9DBD;
	font-size: 18px;
}
.main{
	vertical-align: top;
	display: inline-block;
	height: 700px;
	width: 795px;
	background-color: white;
}
.crumbPhone{
	vertical-align: top;	
	display: inline-block;
	height: 100px;
	width: 795px;
	margin: 0px;
	padding: 0px;
	background-color: white;
	border-bottom: 1px solid #1E6FAF;
}
.crumb{
	height: 90px;
	width: 80px;
	vertical-align: top;
	display: inline-block;
}
.crumb p{
	display: inline;
}
#homeImg{
	width: 41px;
	height: 23px;
	margin-top: 5px;
	padding: 0px;
	display: inline;
}
.phone{
	vertical-align: top;
	display: inline-block;
	margin-left: 100px;
	height: 90px;
	width: 100px;
}
#homeImg{
	vertical-align: top;
}
.ppc_marketing{
	display: block;
	height: 550px;
	width: 795px;
	background-color: white;
}
#driveMore{
	display: inline-block;
	height: 150px;
	width: 750px;
	border: 5px solid #87B4D1;
	padding: 2px 20px 2px 2px;
	vertical-align: top;
	font-size: 14px;
}
#driveMoreBigText{
	color: #1E6FAF;
	font-size: 16px;
	display: inline-block;
}
#checkeredFlag{
	display: inline-block;
	vertical-align: text-top;
}
#driveMore p{
	display: inline-block;
	vertical-align: top;
}
#getStarted{
	border-radius: 5px;
	height: 35px;
	width: 150px;
	border: 1px solid green;
	background: #9dd53a; /* Old browsers */
	background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 27%, #80c217 51%, #a1d54f 100%, #7cbc0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(27%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#a1d54f), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 27%,#80c217 51%,#a1d54f 100%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 27%,#80c217 51%,#a1d54f 100%,#7cbc0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 27%,#80c217 51%,#a1d54f 100%,#7cbc0a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 27%,#80c217 51%,#a1d54f 100%,#7cbc0a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
	color: white;
	text-align: center;
	font-stretch: ultra-condensed;
	padding-top: 10px;
}












