h1{
	color: #1E6FAF;
	font-size: 16px;
}
h2{

}
a {
	color: #1E6FAF;
}
.bold{
	font-weight: 600;
}
.wholeShebang{
	width: 1050px;
	font-family: Verdana;
	font-size: 12px;
}
	.header{
		width: 1000px;
		display: block;
	}
		.logo{
			display: inline-block;
			height: 75px;
			width: 400px;
			background-color: red;
		}
		.nav{
			display: inline-block;
			height: 30px;
			width: 500px;
			margin-left: 90px;
			margin-bottom: 45px;
			background-color: green;
		}
		.banner{
			width: 1000px;
			height: 50px;
			background-color: blue;
	}
	.content{
		width: 1000px;
		display: block;

	}
		.sideBar{
			vertical-align: top;
			display: inline-block;
			height: 700px;
			width: 200px;
			background-color: purple;
		}
		.main{
			vertical-align: top;
			display: inline-block;
			height: 700px;
			width: 795px;
			background-color: pink;
		}
			.crumbPhone{
				vertical-align: top;	
				display: block;
				height: 100px;
				width: 795px;
				background-color: orange;
			}
			.ppc_marketing{
				display: block;
				height: 550px;
				width: 795px;
				background-color: white;
			}
				#driveMore{
					display: inline-block;
					height: 300px;
					width: 800px;
					border: 5px solid blue;
			}
				#driveMoreBigText{
					color: #1E6FAF;
					font-size: 16px;
				}
				#driveMore p{
					vertical-align: top;
				}
				#checkeredFlag{
					display: inline block;
					vertical-align: text-top;

				}